@import '../scss/variables';

.popup_container {
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: fixed;
    bottom: 0;

    .popup_header {
        display: flex;
        justify-content: end;

        button {
            border: 1px solid black;
            color: black;
            border-radius: 50%;
            height: 25px;
            width: 25px;

            &:hover {
                transition: .5s;
                background-color: $main-color;
            }
        }
    }

    .popup_content {
        a {
            color: blue;
        }
    }
}