@import '../scss/variables';

header {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;

    button {
        background-color: $main-color;
        padding: 10px 24px;
        border-radius: 4px;
        border: none;

        &:hover {
            background: linear-gradient(90.6deg, #13B4A7 18.38%, rgba(16, 170, 170, 0.689722) 51.22%, #0893B0 83.27%);
        }
    }
}