main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  
    article {
      margin-top: 40px;
      max-width: 505px;
      .main_h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 60.24px;
        color: $text-color;
        margin: 14px 0;
        font-size: 40px;
      }
  
      span {
        color: $main-color;
      }
  
      .main_p {
        color: $text-color;
        margin-top: 14px;
        text-align: justify;
        font-size: 14px;
      }
  
      .main_button {
        background-color: $main-color;
        padding: 10px 24px;
        border-radius: 4px;
        color: #111829;
        border: none;
        width: 100%;
        margin: 37px 0;

        &:hover {
          background: linear-gradient(90.6deg, #13B4A7 18.38%, rgba(16, 170, 170, 0.689722) 51.22%, #0893B0 83.27%);
          transition: .2s;
        }
      }
  
      .terms {
        color: $main-color;
        font-size: 12px;
  
        a {
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  
    aside {
      max-width: 505px;
  
      img {
        width: 100%;
      }
    }

    
  }

  @media (max-width: 1086px) {
    main {
      padding: 0 20px;
      article {
        max-width: 100%; 
        text-align: left; 
      }
  
      aside {
        display: none;
      }
    }
  }