.message_container {
    background-color: rgb(209, 98, 98);
    width: max-content;
    position: absolute;
    right: 1%;
    top: 5%;
    z-index: 9;
    padding: 2px 10px;
    border: 1px solid rgb(209, 98, 98);
}