@import "./variables";

main {
    background-color: #09090B;
    padding: 40px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .newsletter_form {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 14px;

        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            gap: 6px;

            label {
                font-weight: 700;
                font-size: 14px;
            }

            input,textarea {
                background-color:#27272A;
                padding: 8px 16px 8px 16px;
                outline: none;
                border: none;
                color: grey;
            }
        }
        
        button{
            padding: 10px 24px;
            border-radius: 4px;
            background-color: $main-color;
            border: none;

            &:hover {
                background: linear-gradient(90.6deg, #13B4A7 18.38%, rgba(16, 170, 170, 0.689722) 51.22%, #0893B0 83.27%);
                transition: .2s;
            }
        }
    }

    .logout-div {
        position: absolute;
        bottom: 5%;
        right: 3%;
        box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.253);

        button {
            background-color: rgb(255, 58, 58);
            border: red 1px solid;
            color: #fff;
            padding: 5px 15px;
            border-radius: 12px;
        }
    }
}