@import "./variables";

main {
    color: #fff;
    position: fixed;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.overlay_container {
    max-width: 400px;
    background-color: #09090B;
    padding: 40px 20px;

    .overlay_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
        }

        button {
            color: #52525B;
            background-color: #000000;
            border-radius: 50%;
            border: 1px solid #52525B;
            width: 20px;
            height:20px;
        }
    }

    .overlay_p {
        color: #fff;
        font-size: 12px;
        margin-top: 14px;
    }

    .overlay_form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 14px;

        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            gap: 6px;

            label {
                font-weight: 700;
                font-size: 14px;
            }

            input {
                background-color:#27272A;
                padding: 8px 16px 8px 16px;
                outline: none;
                border: none;
                color: grey;
            }
        }
        .overlay_terms{
            flex-direction: row;
            gap: 20px;
            a {
                color: #fff;
                font-weight: 700;
                text-decoration: none;
            }
        }
        .overlay_button{
            padding: 10px 24px;
            border-radius: 4px;
            background-color: $main-color;
            border: none;

            &:hover {
                background: linear-gradient(90.6deg, #13B4A7 18.38%, rgba(16, 170, 170, 0.689722) 51.22%, #0893B0 83.27%);
                transition: .2s;
            }
        }
    }
}